<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="#page-top">optimizeData</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Mix">Mix de Produção</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Author">Autores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">

        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading text-white">Otimização</h2>
                <h2 class="section-heading text-white">Pesquisa operacional</h2>
                <hr class="light">
                <p class="text-faded">
                    "[...] é uma ciência aplicada voltada para a resolução de problemas reais."
                </p>
                <p class="text-faded" >SOBRAPO - Sociedade Brasileira de Pesquisa Operacional</p>
                <p class="text-faded">PO é aplicação de métodos científicos a problemas complexos para
                    auxiliar no processo de tomada de decisões de projeto, planejamento
                    e operação em situações que requerem alocações eficientes de
                    recursos escassos. Abordagem científica para tomada de decisão.</p>
                <a class="btn btn-default btn-xl sr-button"
                   href="http://www.sobrapo.org.br/" target="_blank">Conheça mais</a>
            </div>
        </div>
    </div>
</section>

<!-- parallax-->
<!--==========================================================================-->

<div id="servico" class="bgParallax" data-speed="15">
</div>
<!--================================================================================-->

<section class="bg-second" id="Mix">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center" ng-submit="login()">
                <h2 class="section-heading text-white">Mas como que isso funciona?</h2>
                <hr class="light">

                <p>É bem tranquilo, o Mix de produção busca de dar o melhor do melhor,<b>o ponto ótimo</b>, você nos passa alguns dados e nós, com ajuda do GLPK, lhe entregamos informações para que você tome a melhor decisão estratégica para a sua produção.</p>
                <p>Coloquemos que você fabrique dois produtos diferentes, mas que utilizem os mesmo itens porém em proporções diferentes, cada produto tem um valor de lucro, como saber qual produto você deve fabricar mais, para consumir o seu estoque sem a necessidade de comprar mais matéria prima e ao mesmo tempo, com o maior lucro possível?</p>
                <p>Bom, não precisa mais se preocupar com isso, nos informe sua necessidade e lhe indicaremos a melhor decisão a ser tomada.</p>
                <p>Mas chega de conversa, acesse o sistema e vamos ver isso tudo na prática!</p>
                <br>

                <a class="btn btn-default btn-xl sr-button" href="#/login" >Login</a>

            </div>
        </div>
    </div>

</section>
<div class="call-to-action bg-dark">
    <div class="container text-center">
        <h2>Processamento executado através do GLPK</h2>
        <img src="img/glpk_white.png">
        <br>
        <br>
        <p>Para maiores informações sobre a plataforma GNU Linear Programming Kit, acesse o site do projeto.</p>
        <a class="btn btn-default btn-xl sr-button" href="https://www.gnu.org/software/glpk/" target="_blank">GLPK</a>
    </div>
</div>
<section id="Author">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <h2 class="section-heading">Nós fizemos</h2>
                <hr class="primary">
                <div class="col-lg-9 offset-lg-2 text-center"></div>

            </div>
            <div class="col-lg-5 text-center">
                <a href="https://www.linkedin.com/in/ricardojunio?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BK7g%2F%2BzeDSy2txDWROezNXg%3D%3D" >
                    <img src="img/ricardo.png">
                    <p>Ricardo Junio</p>
                </a>
            </div>

            <div class="col-lg-5 offset-lg-2 text-center">
                <a href="https://www.linkedin.com/in/thiago-rodrigo-91ab1180/">
                    <img src="img/thiago.png">
                    <p>Thiago Rodrigo</p>
                </a>
            </div>
        </div>
        <br>
        <br>
        <footer>
            <div class="footer">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                <p>Produzido por Ricardo J. e Thiago R. com Bootstrap, HTML 5, CSS 3, Java, Angular, Azure, GUSEK e GLPK</p>
                <p>codificado no IntelliJ e disponível no Git Hub</p>
            </div>

        </footer>
    </div>
</section>