
<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="#page-top">Otimização</a>
    </div>
</nav>



<section id="Mix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mix de Produção</h2>
                <div class="container text-center">
                    <p>Entre com os dados do seu mix de produção no fomulário abaixo.</p>
                    <p>Você deve informar quais serão os produtos de sua produção, em seguida quais são os itens
                        gastos e as quantidades para cada um dos produtos, em seguida informe a disponibilidade existende
                        em seu estoque para cada um dos itens.</p>
                </div>
                <hr class="primary">

                <h2 class="section-heading">Informe os nomes das variáveis</h2>
                <div class="container">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Produto 01:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="p1name" placeholder="Nome do produto 01" name="p1name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Produto 02:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="p2name" placeholder="Nome do produto 02" name="p2name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Item 01:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="i1name" placeholder="Nome do item 01" name="i1name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Item 02:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="i2name" placeholder="Nome do item 01" name="i2name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Item 03:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="i3name" placeholder="Nome do item 01" name="i3name">
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <h2 class="section-heading">Informe as quantidades gastas para a produção de cada item</h2>
                <div class="container">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Produto 01:</label>

                            <!--item-->
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 1:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p1i1" placeholder="1º Item" name="p1i1">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 2:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p1i2" placeholder="2º Item" name="p1i2">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 3:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p1i3" placeholder="3º Item" name="p1i3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >Produto 02:</label>

                            <!--item-->
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 1:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p2i1" placeholder="1º Item" name="p2i1">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 2:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p2i2" placeholder="2º Item" name="p2i2">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 3:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="p2i3" placeholder="3º Item" name="p2i3">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" >Disponibilidade Total:</label>

                            <!--item-->
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 1:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="di1" placeholder="1º Item" name="di1">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 2:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="di2" placeholder="2º Item" name="di2">
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-1"></div>
                            <label class="control-label col-sm-2">Item 3:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="di3" placeholder="3º Item" name="di3">
                            </div>
                        </div>

                    </form>
                    <br>
                    <a class="btn btn-mix btn-xl sr-button"
                       href="result.html" >Submeter para analise</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

</section>





